@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
  font-family: poppins;
  color: #666666;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

image {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*$mw:1100px;*/
/*@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
}
*/
input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  position: relative;
  height: 50px;
  border-radius: 0 !important;
  font-size: 15px;
  width: 100%;
  display: block;
  border-top: #000 1px solid;
  padding: 0 20px;
  background-color: #f8f7f7;
}
textarea.input {
  resize: none;
  height: 100px;
  padding: 10px 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main{
  flex: 1 1 auto;
}

[class*="__container"]{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
----------------------------------

.header {
}
.header__container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex ;
  gap: 131px;
  min-height: 152px;
  align-items: center;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
  display: flex;
  gap: 56px;
}
.menu__item {
}
.menu__link {
  color: rgba(18, 18, 18, 0.4);
  font-weight: 500;
  transition:500ms;
}
.menu__link:hover {
  text-decoration: underline;
}