@import 'style_null.scss';

body{
    padding: 30px;
    margin:0 auto;
    max-width: 840px;
    font-size: 24px;
    line-height: 24px;
    color: blue;
}
.sourse {
    padding: 0 0 20px 0;
    font-size: 36px;
    line-height: 24px;
    color: green;
}
.list {
    color: black;
    li{
        padding: 0 0 10px 30px;
        background: url('../../img/check\ icon\ BLUE.svg') 0 5px no-repeat;
        &:hover{
            color: aqua;
        }
    }

}
.button {
    display: block;
    background-color: aqua;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    margin: 20px 0 20px 0;
}
.input {
    padding-bottom: 30px;
    border: 2px solid #000;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.514);
    margin: 0 0 20px 0;
}
.text_one {
    padding-bottom: 30px;
    color: orangered;
    font-weight: 700;
}
.text_two {
    color: orangered;
    font-weight: 700;
}